
  <div class="container">

    <div class="card-category">
       <h1>
        <span id='banner-typed-text'></span>
      </h1>
    </div>

    <div class="lists_create">
        <p>Lists</p>
        <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-outline-primary mb-5' %>
    </div>

    <div class="card-product" >
      <% @lists.each do |list| %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <%= link_to list_path(list), class: 'text-decoration-none' do %>
        <h2><%= list.name %></h2>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
