
.container-card{
  display: flex;
  justify-content: space-evenly;
  margin: 0 100px;
  background: white;
}
.card-product {
  height: 171px;
  width: 210px;
  padding: 5px;
}
.card-product h2{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:aqua;
}
.card-product img {
  background-size: cover;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
}
